<div class="main"> 
    <div class="quantityType">
        <p class="chooseType">Choose Type</p>
    </div>

    <div fxLayout-xs="row" fxLayoutAlign="space-around center" fxLayout="2.19vw" class="cards">
        <mat-card (mouseover)="length = true" (mouseout)="lengthOut()" class="lengthCard card" [ngClass]="[onLengths]" (click)="onLength()">
            <img [src]=" length === true ? 'assets/lengthEnable.png' : 'assets/lengthDisable.png'" id="lengthImage">
            <p class="lengthText">Length</p>
        </mat-card>

        <mat-card (mouseover)="temperature = true" (mouseout)="temperatureOut()" class="temperatureCard card" [ngClass]="[onTemperatures]" (click)="onTemperature()">
            <img [src]=" temperature === true ? 'assets/temperatureEnable.png' : 'assets/temperatureDisable.png'" id="temperatureImage">
            <p id="temperatureText">Temperature</p>
        </mat-card>

        <mat-card (mouseover)="volume = true" (mouseout)="volumeOut()" class="volumeCard card" [ngClass]="[onVolumes]" (click)="onVolume()">
            <img [src]=" volume === true ? 'assets/volumeEnable.png' : 'assets/volumeDisable.png'" id="volumeImage">
            <p id="volumeText">Volume</p>
        </mat-card>>
    </div>
</div>