.header
    height: 12vh;
    width: 100%;
    background-color: #446DFF;
    font: normal normal normal 1.6vw Montserrat;
    color: #FFFFFF;
    display: flex;
    padding-left: 28.18vw;
    padding-top: 3.68vh;
