<div fxLayout-xs="row" fxLayoutAlign="start center" class="conversion">
    <div fxLayout-xs="column" >
        <p class="from">From</p>
        <input type="number" value="1" class="input"/>
        <select matNativeControl required class="select">
        </select>
    </div>
    <div fxLayout-xs="column" class="layout">
        <p class="to">To</p>
        <input type="number" value="100" class="input"/>
        <select matNativeControl required class="select">
        </select>
    </div>
</div>